/* Main */
body {
	font-family: 'MuseoSans';
};
body.modal-open{
	padding: 0!important;
	overflow-y: auto;
}
a:focus,
a:active,
a:hover {
	color: $accent;
	text-decoration: none;
};
* {
	transition: all 0.3s ease-in-out;
}
section {
	padding: 50px 0;
}
.posr{
	position: relative;
}
.zoom{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	opacity: 0;
}
/* End Main */