/* Modal */
.modal-dialog{
	.modal-content{
		border: none;
		border-radius: 0;
		background-color: $accent;
		.modal-header{
			border: none;
			padding: 65px 40px 20px 40px;
			.modal-title{
				font-size: 28px;
				line-height: 32px;
			};
			.close{
				font-size: 38px;
				opacity: 1.0;
				text-shadow: none;
			};
		};
		.modal-body{
			padding: 15px 40px;
			.privacy-label{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				position: relative;
				margin-bottom: 20px;
				font-size: 14px;
				line-height: 18px;
				font-weight: 500;
				color: $dark;	
				span{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: center;
					-ms-align-items: center;
					align-items: center;
					width: 16px;
					height: 16px;
					background-color: $white;
					border-radius: 50%;
					margin-right: 7px;
					&:hover{
						background-color: $dark;
					}
					i{
						font-size: 9px;
						color: lighten($dark, 50%);
						margin-bottom: 1px;
						&:hover{
							color: $white;
						}
					}
				};
				input{				
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					opacity: 0;
				};
				&__checked{
					span{
						background-color: $dark;
						i{
							color: $white;
						};
					};
				};
			};
			input[type="submit"]{
				width: 100%;
			};
		};
	};
	@media(min-width: 576px){
		max-width: 400px;
	};
	&.modal-lg{
		max-width: 800px;
		.modal-body {
			padding-bottom: 40px;
		}
	}
};

/* End Modal */