/* Object */
.object{
	&__title{
		font-size: 48px;
		margin-bottom: 30px;
		@media(max-width: 575px) {
			font-size: 32px;
		};
	}
	&__desc{
		font-size: 16px;
		font-weight: bold;
		p{
			margin-bottom: 30px;
		}
	}
	&__galery{
		&__item{
			margin-bottom: 30px;
			a{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: center;
				-ms-align-items: center;
				align-items: center;
				width: 100%;
				height: 100%;
				position: relative;
				img{
					width: 100%;
				}
				i{
					font-size: 34px;
					color: $white;
				}				
				&:hover{
					.zoom{
						opacity: 1.0;
					}
				}
			}
		}
	}
	&-short{
		color: $white;
		padding: 80px 30px 45px;
		position: relative;		
		margin-bottom: 30px;
		background-color: rgba(0,0,0,0.6);
		&:hover{
			background-color: rgba(253,181,10,0.6);
		}
		@media(max-width: 1200px) {
			padding: 30px 15px;
	  };
	  @media(max-width: 991px) {
			padding: 80px 30px 45px;
	  };
		&__image{
			position: absolute;
			top:0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-position: 50% 50%;
			-webkit-background-size: cover;
			background-size: cover;
			background-repeat: no-repeat;			
		};
		&__title{
			h4{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 15px;
			}
		};
		&__desc{
			font-size: 18px;
			line-height: 25px;
			font-weight: bold;
			margin-bottom: 30px;
		};
		&__link{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;			
		}	
	}
}
.objects{
	.item{
		&:nth-child(n+7){
			display: none;
		};
	};
}
.more-objects{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
/* End Object */