/* Sections */
.section-title {
	font-size: 48px;
	line-height: 73px;
	@media(max-width: 575px) {
		font-size: 32px;
		line-height: 48px;
	};
}
.section-subtitle {
	font-size: 24px;
	font-weight: 900;
	font-family: 'MuseoSans';
	text-transform: none;
	line-height: 1.2;
	margin-bottom: 30px;
	@media(max-width: 575px) {
		font-size: 20px;
	};
}
.categories {
	padding: 50px 0 20px;
};

.reliably{
	position: relative;		
	padding: 70px 0 50px 0;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	&__map{
		position: absolute;
		right: 15px;
		left: auto;
		top: 0;
		bottom: auto;
		width: 635px;
		height: 100%;
		background-image: url(../img/map.png);
		background-repeat: no-repeat;
		background-position: top left;
		&:after{
			position: absolute;
			content: "";
			top: 400px;
			left: auto;
			right: 0;
			bottom: auto;
			width: 124px;
			height: 16px;
			background-image: url(../img/logo_libherr.png);
		}
	};
	&__title{
		h2{
			font-size: 48;
			line-height: 73px;
			color: $accent;
		}
	};
	&__text{
		font-size: 19px;
		font-weight: 500;
		line-height: 27px;
		color: $white;
	};
};
.news-section {
	&__title{
		h2{
			font-size: 48px;
			margin-bottom: 30px;
		}
	};
}
.callback-section {
	background-color: #ebebed;
	&__title{
		text-align: center;
		h2{
			font-size: 48px;
			margin-bottom: 30px;
			@media(max-width: 767px) {
				font-size: 40px;
			};
			@media(max-width: 575px) {
				font-size: 32px;
			};
		}
	};
	&__image{
		position: absolute;
		top: -30px;
		right: 100px;
		width: 164px;
		height: 439px;
		@media(max-width: 1200px) {
			right: 20px;
		};
		@media(max-width: 991px) {
			right: 0;
		};
		@media(max-width: 767px) {
			display: none;
		};
	}
	.container {
		position: relative;
	}
}
.promo{
	position: relative;
	background-color: rgba(253,181,10,0.9);
	min-height: 350px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	&__banner{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		z-index: -1;
	};
	&__text{
		width: 100%;
		display: block;
		font-size: 87px;
		line-height: 1;
		font-family: 'Bebas Neue';
		font-weight: bold;
		text-align: center;
		@media(max-width: 767px) {
			font-size: 60px;
		};
		@media(max-width: 575px) {
			font-size: 48px;
		};
	}
}
.main{
	&__text{
		font-size: 16px;
		font-weight: bold;
		h4{
			font-family: 'MuseoSans';
			font-size: 24px;
			font-weight: 900;
			text-transform: none;
			margin-bottom: 30px;
		}
		ul{
			font-weight: 900;
			margin-bottom: 30px;
		}
		p{
			margin-bottom: 30px;
		}
	}
	&__galery{
		&__item{
			margin-bottom: 30px;
			a{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: center;
				-ms-align-items: center;
				align-items: center;
				width: 100%;
				height: 100%;
				position: relative;
				img{
					width: 100%;
				}
				i{
					font-size: 34px;
					color: $white;
				}				
				&:hover{
					.zoom{
						opacity: 1.0;
					}
				}
			}
		}
	}
	&.contacts-main{
		padding-bottom: 0;
	}
}
/* End Sections */